<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Casper María Rodríguez</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/answer.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu-right">
			<div id="menu">
				<a href="#">Perfil</a>
				<a href="#">Amigos</a>
				<a href="#">Preguntas</a>
				<a href="index.html">Desconectar</a>
			</div>
			<div id="usuario-banner">
				<img class="purple-circle" width="32" height="32" src="img/man.png" alt="">
				<div id="data-banner">
					<p>Casper María Rodríguez</p>
					<div id="banner-coins">
						<img width="15" height="15" src="img/coins.png" alt="">
						<span>50 puntos</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-questions">

		<h1>¿Nintendo Switch, PS4 o Xbox One?</h1>

		<div id="preguntas">

			<div class="question-box">
				<div class="radio">
					<input id="Switch" name="radio" type="radio">
					<label for="Switch" class="radio-label">Nintendo Switch</label>
				</div>
			</div>
			<div class="question-box">
				<div class="radio">
					<input id="PS4" name="radio" type="radio">
					<label for="PS4" class="radio-label">PS4</label>
				</div>
			</div>
			<div class="question-box">
				<div class="radio">
					<input id="Xbox" name="radio" type="radio">
					<label for="Xbox" class="radio-label">Xbox One</label>
				</div>
			</div>
			<div class="question-box">
				<div class="radio">
					<input id="ninguna" name="radio" type="radio">
					<label for="ninguna" class="radio-label">No me interesan los videojuegos</label>
				</div>
			</div>
			<div class="question-box otra">
				<div class="radio">
					<input id="Otra" name="radio" type="radio">
					<label for="Otra" class="radio-label">Otra: </label>
				</div>
				<input value="" type="text">
			</div>

		</div>

		<div class="submit">
			<a class="light-button" href="#">
			Responder</a>
		</div>

	</div>

</body>

</html>
