<%

if (friends) {
    friends.forEach(friend => { %>
        <div class="user-box">
			<img src="/imagen/<%= friend.img %>" alt="">
			<h4><%= friend.nombre_completo %></h4>
			<form method="GET" id="" class="btn-solicitud" action="/friend_profile">
				<input type="hidden" name="friendEmail" value="<%= friend.email %>">
				<input value="Ver perfil" type="submit">
			</form>
		</div>
    <% });
}

%>