<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Casper María Rodríguez</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/friends.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu-right">
			<div id="menu">
				<a href="/my_profile">Perfil</a>
				<a href="#">Amigos</a>
				<a href="#">Preguntas</a>
				<a href="/logout">Desconectar</a>
			</div>
			<div id="usuario-banner">
				<img class="purple-circle" width="32" height="32" src="/user_image" alt="">
				<div id="data-banner">
					<p><%= name %></p>
					<div id="banner-coins">
						<img width="15" height="15" src="img/coins.png" alt="">
						<span><%= puntuacion %> puntos</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contenedor principal -->
	<div class="container-solicitudes">

		<h1>Solicitudes de amistad</h1>

		<div id="solicitudes">

			<div class="user-box">
				<img src="img/man.png" alt="">
				<h4>Casper María Rodríguez</h4>
				<form method="POST" id="" class="btn-solicitud" action="">
					
					<input value="Aceptar" type="submit">
					<input value="Rechazar" type="submit">
				</form>

			</div>
			<div class="user-box">
				<img src="img/man.png" alt="">
				<h4>Casper María Rodríguez</h4>
				<form method="POST" id="" class="btn-solicitud" action="">
					
					<input value="Aceptar" type="submit">
					<input value="Rechazar" type="submit">
				</form>
			</div>
			<div class="user-box">
				<img src="img/man.png" alt="">
				<h4>Casper María Rodríguez</h4>
				<form method="POST" id="" class="btn-solicitud" action="">
					
					<input value="Aceptar" type="submit">
					<input value="Rechazar" type="submit">
				</form>
			</div>


		</div>

	</div>

	<div class="container-amigos">

		<h1>Búsqueda de amigos</h1>

		<form method="POST" id="" class="buscar-amigos" action="">
			
			<input value="" type="text">
			<input value="Buscar" type="submit">
		</form>

		<h1 class="misAmigos">Mis amigos</h1>

		<div id="solicitudes">

			<%- include("friendsList") %>

			<!--
			<div class="user-box">
				<img src="img/man.png" alt="">
				<h4>Casper María Rodríguez</h4>
				<form method="POST" id="" class="btn-solicitud" action="">
					<form method="POST" id="" class="btn-solicitud" action="">
						
						<input value="Ver perfil" type="submit">
					</form>
			</div>
			-->


		</div>

	</div>

</body>

</html>
