<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bienvenido - Facebluf</title>
	<link rel="stylesheet" href="css/style2.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu">
			<a href="index.html">Entrar</a>
			<input type="submit" value="Nuevo Usuario" href="new_user">
			<!-- <a href="new_user.html">Nuevo usuario</a> -->
		</div>
	</div>

	<!-- Contenedor principal -->
	<div class="container">

		<h1>Entrar</h1>

		<!-- Login -->
		<div id="login-box">

			<form action="/login" method="POST">
				<div>
					<label>Email</label>
					<input type="email" name="email">
				</div>
				<div>
					<label>Contraseña</label>
					<input type="password" name="password">
				</div>
				<div class="submit">
					<input type="submit" value="Aceptar" class="light-button">
				</div>
			</form>			
		</div>

		<% if (errorMsg !== null) { %>
			<div class="error">
				<strong><%= errorMsg %></strong>
			</div>
		<% } %>

	</div>

</body>

</html>
