<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Casper María Rodríguez</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/profile.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu-right">
			<div id="menu">
				<a href="#">Perfil</a>
				<a href="#">Amigos</a>
				<a href="#">Preguntas</a>
				<a href="/logout">Desconectar</a>
			</div>
			<div id="usuario-banner">
				<img class="purple-circle" width="32" height="32" src="img/man.png" alt="">
				<div id="data-banner">
					<p>Casper María Rodríguez</p>
					<div id="banner-coins">
						<img width="15" height="15" src="img/coins.png" alt="">
						<span>50 puntos</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-header"></div>
	<div class="img-profile">
		<img width="150" height="150" src="img/man.png" alt="">
	</div>


	<!-- Contenedor principal -->
	<div class="container-profile">

		<h1>Tu perfil</h1>

		<div id="profile-box">

			<div id="data-user">
				<div><img class="purple-circle" width="32" height="32" src="img/boy.png" alt=""></div>
				<div>Casper María Rodríguez</div>
				<div><img class="purple-circle" width="32" height="32" src="img/cake.png" alt=""></div>
				<div>33 años</div>
				<div><img class="purple-circle" width="32" height="32" src="img/gender.png" alt=""></div>
				<div>Hombre</div>
				<div><img class="purple-circle" width="32" height="32" src="img/coins.png" alt=""></div>
				<div>50 puntos</div>
			</div>

		</div>

		<div class="submit">
			<a class="light-button" href="my_profile.html">
				<span>
					<img class="edit-icon" src="img/edit.png" alt="">
				</span>
			Editar perfil</a>
		</div>

	</div>

</body>

</html>
