<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/random.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="container-questions">

		<h1>Preguntas seleccionadas aleatoriamente</h1>

		<div id="preguntas">

			<% preguntas.forEach( p => { %>
				<div class="question-box">
					<a href="/question_view/<%= p.id %>"><%= p.texto_pregunta %></a>
				</div>
			<% }); %>
			
		</div>

		<h1>Añade tus preguntas</h1>

		<div class="txt-center">
			<a class="light-button" href="/new_question">Crear nueva pregunta</a>
		</div>

	</div>

</body>

</html>
