/* CSS Document */

.container-solicitudes {
  padding: 0px 30px;
  max-width: 1000px;
  margin: auto;
}

.container-solicitudes>h1 {
  text-align: center;
}

#solicitudes {
  margin: auto;
  display: grid;
  width: 900px;
  padding: 10px;
  /* Tres columnas */
  grid-template-columns: 300px 300px 300px;
  /* Cuatro filas
	grid-template-rows: 50px 50px 50px 50px ;*/
  grid-column-gap: 10px;
  align-items: center;
  justify-items: flex-start;
}

.user-box {
  border-top: 50px solid purple;
  font-family: 'MavenPro';
  font-size: 15px;
  border-radius: 5px;
  width: 200px;
  padding: 25px 40px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

.user-box>img {
  width: 52px;
  height: 52px;
  border: 3px solid white;
  border-radius: 52px;
  padding: 5px;
  background-color: #e6e6e6;
  margin-top: -60px;
  margin-left: -10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-solicitud {
  display: flex;
  padding-top: 15px;
}

.btn-solicitud>input {
  margin: 0px 10px;
  background-color: white;
  font-size: 13px;
  height: 25px;
}

.btn-solicitud>input:hover {
  font-size: 13px;
  height: 25px;
  border-color: purple;
  border: 1.4px solid purple;
  color: purple;
}

.container-amigos {
  margin-top: 50px !important;
  padding: 0px 30px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}

.container-amigos>h1, h5 {
  text-align: center;
  margin-bottom: 30px;
}

.buscar-amigos {
  text-align: center;
}

.buscar-amigos>input[type="submit"] {
  margin-left: 30px;
  background-color: purple;
  color: white
}

.buscar-amigos>input[type="text"] {
  margin-left: 110px;
  width: 245px;
}

.sub-header {
  width: 100%;
  height: 150px;
  background-color: rebeccapurple;
  margin-top: -50px;
}

.purple-circle {
  border: 1px dashed purple;
  border-radius: 32px;
  padding: 5px;
  background-color: #e6e6e6;
}

.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(203, 157, 249);
  border: 5px solid white;
  border-radius: 200px;
  margin-top: -100px;
  margin-left: 180px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.edit-icon {
  width: 16px;
  height: 16px;
  padding-right: 7px;
}

.submit {
  margin-top: 0;
  margin-bottom: 50px;
}

.veredicto {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0;
}

.acierto {
  color: green;
}

.fallo {
  color: darkred;
}

.misAmigos {
  margin-top: 50px;
  margin-bottom: 10px !important;
}
